<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .keepData {
            text-align: center;
            padding-top: 10%;
        }

        .keepButton {
            background-color: rgb(221, 221, 53);
            width: 200px;
            height: 30px;
        }

        .para2 {
            font-weight: 700;
        }

        .para1 {
            font-weight: 500;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collaborator Details</title>
</head>

<body>
    <div class="keepData">
        <img src="https://ci3.googleusercontent.com/proxy/CbGRzYRt-aoji-2VIBXluyZNohKFDt6b-0nS5ASnFYwZWwIu4cxixf8wVYYX5tF45S7W-JvtIVZEAl3uGU-NWxXXKLGMF8nTVk9gAbjJVkwMP1KZpUm_ETCU=s0-d-e1-ft#https://www.gstatic.com/images/branding/product/2x/keep_2020q4_48dp.png"
            alt="google keep image" class="image">
        <p class="para1">
            Aakash (aakashrajak289@gmail.com) shared a note with you.
        </p>
        <p class="para2">Hey aakash</p>
        <input type="button" value="Open in keep" class="keepButton">
    </div>
</body>

</html>